h1,
h2,
p, img, ul, ol {
  margin: 0;
  padding: 0;
}

.wrapper {
  background: url(assets/bg-imageNEW.png);
  background-size: cover;
  max-width: 1600px;
  height: 788px;
  font-family: 'Roboto', sans-serif;
 
}

.header {
  display: flex;
  justify-content: center;
  
}

.header img {
  margin-top: 68px;
  display: inline-block;

  margin-left: 30px;
}

.navbar {
  position: absolute;
  width: 587px;
    top: 89px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ol.active a {
  color: yellow;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar img {
  position: relative;
  top: -86px;
  left: -21px;
}

.navbar a:hover {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}



.title h1 {
  position: absolute;
  width: 730px;
  height: 75px;
  left: 452px;
  top: 282px;
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  line-height: 75px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.subtitle {
  position: relative;
  width: 504px;
  height: 50px;
  left: calc(50% - 504px/2);
  top: calc(50% - 50px/2 - 22px);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  width: 504px;
  height: 50px;
  left: 557px;
  top: 379px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 15px 41px;
  position: absolute;
  width: 184px;
  height: 46px;
  left: 717px;
    top: 456px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  background: #00AFDB;
}

.button:hover {
  background: rgb(255, 0, 43);
}

.social img {
  position: relative;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  left: 715px;
  top: 679px;
  margin-right: 27px;
}

a :hover {
 background-color: lightgreen;
}

.wrapper2 {
  background: #ffffff;
  width: 1600px;
  height: 842px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-bottom: -319px;

}

.title-rapresent h2 {
  position: relative;
  width: 368px;
  height: 57px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin-left: 268px;
  margin-top: 294px;
}

.content-text {
  position: absolute;
  width: 407px;
  height: 80px;
  left: 272px;
  top: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
  

}

.content-image img {
  position: relative;
  width: 407px;
  height: 582px;
  left: 923px;
  top: -232px;
 
}

.button2 {
  display: flex;
  flex-direction: row;
  padding: 15px 41px;
  position: absolute;
  width: 184px;
  height: 46px;
    left: 273px;
    top: 157px;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: white;
    background: #00AFDB;
    margin-top: 30px;
  text-transform: uppercase;
}

.button2:hover {
  background: #d4c818;
}

.wrapper3 {
  background: #F5F6F7;
  background-size: cover;
  width: 1600px;
  height: 504px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.icon-img img {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 397px;
  top: 178px;
}

.icon-img h3 {
  position: absolute;
  width: 162px;
  height: 20px;
  left: 340px;
  top: 228px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;

}

.icon-img p {
  position: absolute;
  width: 298px;
  height: 80px;
  left: 270px;
    top: 271px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #4E4E4E;
}

.slider-nav-items  {
  position: absolute;
  top: 84px;
  left: 1264px;
}

.slider img {
  position: relative;
  width: 403px;
  height: 244px;
  left: 711px;
  top: 142px;
  margin-right: 28px;
}
.span-number1 {
position: relative;
  top: 1px;
  left: 10px;
}
.span-number2 {
  position: relative;
  top: -18px;
  left: 23px;
  }
  .span-number3 {
    position: relative;
    left: 34px;
    top: -36px;
    }

.arrow-left img {
  position: relative;
  top: 21px;
  left: -15px;
}

.arrow-left img:hover {
  background: #d4c818;
} 

.arrow-right img {
  position: relative;
  top: -54px;
  left: 59px;
}

.arrow-right img:hover {
  background: #d4c818;
} 

.pic img {
  object-fit: cover;
  width: 17px;
  height: 244px;
  top: -105px;
  left: 1583px;
}

.wrapper4 {
  background: #ffffff;
  background-size: cover;
  width: 1600px;
  height: 867px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.wrapper4 img {
  position: relative;
  width: 407px;
  height: 582px;
  left: 269px;
  top: 145px;
}

.content-nout h2 {
  position: absolute;
  width: 298px;
  height: 28px;
  left: 815px;
  top: 344px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  margin: 0;
}

.content-nout p {
  position: relative;
  width: 407px;
  height: 60px;
  left: 816px;
    top: -192px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
  margin: 0;
}

.button3 {
  display: flex;
  flex-direction: row;
  padding: 15px 40px;
  position: absolute;
  width: 180px;
  height: 46px;
  left: 817px;
  top: 482px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
  background: #00AFDB;
}

.button3:hover {
  background: #d4c818;
}

.wrapper5 {
  background: url(assets/pexels-christina-morillo-1181675\ 1.png);
  background-size: cover;
  width: 1600px;
  height: 524px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.wrapper5 h2 {
  position: relative;
  width: 381px;
  height: 28px;
  top: 200px;
  left: 611px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.wrapper5 form {
  position: relative;
  width: 380px;
  height: 28px;
  left: 13px;
  top: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
}

.form input:required:invalid {
  border: 1px solid red;
}

.input {
  position: absolute;
    width: 335px;
    height: 46px;
    left: 585px;
    top: 228px;
}

.input2 {
  position: relative;
  width: 59px;
  height: 46px;
  left: 923px;
  top: 251px;
  background-color: #00AFDB;
}


.icon {
  position: relative;
    width: 16.52px;
    height: 13.22px;
    left: 876px;
    top: 254px;
}

.icon:hover {
width: 20px;
height: 20px;
}

.wrapper6 {
  background: #F5F6F7;
  background-size: cover;
  width: 1600px;
  height: 468px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.wrapper6 h2 {
  position: absolute;
  width: 252px;
  height: 28px;
  left: 676px;
  top: 120px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.wrapper6 p {
  position: absolute;
  width: 480px;
  height: 40px;
  left: 561px;
  top: 168px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4E4E4E;
}

.btn1 {
  position: relative;
  width: 127px;
  height: 46px;
  left: 599px;
  top: 220px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: white;
  background: #00AFDB;
  text-transform: uppercase;
}

.btn2 {
  position: relative;
  width: 127px;
  height: 46px;
  left: 623px;
    top: 221px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: white;
  background: #00AFDB;
  text-transform: uppercase;
}

.ic-stor {
  position: relative;
  left: 596px;
    top: 238px;
}

.ic-stor:hover {
opacity: 0.5;
}

.ic-andr {
  position: relative;
  left: 618px;
    top: 239px;
}

.ic-andr:hover {
  opacity: 0.5;
}

.footer {
  background: #000000;
  background-size: cover;
  width: 1600px;
  height: 185px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.nav-footer {
  position: absolute;
  width: 234px;
  top: 99px px;
  margin-top: 71px;
  margin-right: px;
  left: 179px;
  font-size: 14px;
}

.nav-footer ul {
  display: flex;
  justify-content: space-around;
  margin-left: -35px;
}

.nav-footer ul li {
  width: 50px;
}

.nav-footer a {
  justify-content: space-between;
  text-decoration: none;
  color: white;
  width: 90px;
}

.footer img {
  position: relative;
  left: 779px;
    top: 56px;
}

.footer p {
  position: relative;
  left: 556px;
  top: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  color: #818181;
}

.nav-footer a:hover {
  background: #d4c818;
}
